<!doctype html>
<title>Evalquiz Client</title>

<h1>Material upload:</h1>

{% for material_hash_name_pair in material_hash_name_pairs %}
  <div>({{ material_hash_name_pair[0] }}, {{ material_hash_name_pair[1] }})</div>
{% endfor %}

<form action="upload_material" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Name" value="{{ request.form['name'] }}"></input>
  <br>
  <input type="file" name="material"/>
  <br>
  <button type="submit">Upload</button>
</form>

<h1>Config iteration:</h1>

{% from "_formhelpers.html" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.batches) }}
  </dl>
  <p><input type="submit" value="Register">
</form>